@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed&family=Roboto:wght@700&display=swap');

/*Inicio*/
.backgDesign {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url('Assets/covid.jpg') center;
  background-size: cover;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.left {
  display: flex;
  place-items: center;
  text-align: center;
}

.left h1 {
  color: white;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
} 

.right {
  background: linear-gradient(black, rgba(166, 166, 177, 0.411));
  display: flex;
  place-items: center;
  text-align: center;
}

.right h1 {
  color: white;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
} 

.bannerBtn {
  border-radius: 25px;
  border: 1px solid white;
  text-decoration: none;
  padding: 10px 50px;
  transition: background 1s;
  color: black;
}

.bannerBtn:hover {
  background: black;
  color: white;
}

@media (max-width: 900px) {
  .backgDesign {
    grid-template-columns: 3fr 3fr;
  }
}

/*SEGMENTO PROBABILIDAD*/
#probabilities {
  height: 100vh;
}